<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net48" />
  <package id="SourceGrid" version="4.4.0" targetFramework="net48" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.115.5" targetFramework="net48" />
  <package id="Syncfusion.Licensing" version="24.1.46" targetFramework="net48" />
  <package id="Syncfusion.Shared.Base" version="24.1.46" targetFramework="net48" />
  <package id="Syncfusion.Shared.Windows" version="24.1.46" targetFramework="net48" />
  <package id="System.Data.SQLite.Core" version="1.0.115.5" targetFramework="net48" />
  <package id="WebActivatorEx" version="2.2.0" targetFramework="net48" />
</packages>